# Summary

# Imports

In [1]:
import os
import subprocess
import shlex
import io
import re
import itertools
from pathlib import Path
from pprint import pprint

In [2]:
import psutil
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pyarrow as pa
import pyarrow.parquet as pq

In [3]:
pd.set_option('display.max_columns', 1000)

In [4]:
%matplotlib inline

# Parameters

In [5]:
NOTEBOOK_PATH = Path(os.getenv('OUTPUT_DIR', '.')).joinpath('homology_modeling_dataset').resolve()
NOTEBOOK_PATH.mkdir(parents=True, exist_ok=True)
NOTEBOOK_PATH

PosixPath('/home/kimlab2/database_data/biological-data-warehouse/adjacency-net/notebooks/scop_dataset')

In [6]:
DATA_PATH = Path(os.environ['DATA_DIR']).resolve()
DATA_PATH

PosixPath('/home/kimlab1/database_data')

In [7]:
DATABIN_PATH = Path(os.environ['DATABIN_DIR']).resolve()
DATABIN_PATH

PosixPath('/home/kimlab2/database_data/databin')

# Spark

In [8]:
import pyspark
from pyspark.sql import SparkSession

In [9]:
spark = (
    SparkSession
    .builder
    .master(f"local[{psutil.cpu_count()}]")
    .appName(NOTEBOOK_PATH.name)
#     .config('spark.driver.memory', '{free_memory / 4 * 1:n}G')
#     .config('spark.executor.memory', '10g'),
    .config('spark.memory.storageFraction', 0)
#     .config('spark.driver.maxResultSize', '10G')
    .getOrCreate()
)

In [10]:
spark

# Functions

# Databases

## `uniparc`

In [12]:
!ls {DATABIN_PATH}/uniparc/v0.1.0/

chain.parquet		    uniparc_xref2component.parquet
component.parquet	    uniparc_xref2gene_name.parquet
gene_name.parquet	    uniparc_xref2ncbi_gi.parquet
ncbi_gi.parquet		    uniparc_xref2ncbi_taxonomy_id.parquet
ncbi_taxonomy_id.parquet    uniparc_xref2protein_name.parquet
protein_name.parquet	    uniparc_xref2proteome_id.parquet
proteome_id.parquet	    uniparc_xref2uniprot_kb_accession.parquet
uniparc_domain.parquet	    uniparc_xref.parquet
uniparc.parquet		    _uniprot_kb_accession.parquet
uniparc_xref2chain.parquet

### `uniparc_xref.parquet`

#### Sample

In [12]:
ds = spark.sql(f"""\
select *
from parquet.`{DATABIN_PATH}/uniparc/v0.1.0/uniparc_xref.parquet`
limit 10
""")

In [13]:
df = ds.toPandas()

In [14]:
df

,uniparc_id,idx,db_type,db_id,version_i,active,version,created,last,__index_level_0__
0,UPI0000000011,1,PRF,3119392DP,1,Y,NaN,2006-02-13,2009-09-01,0
1,UPI0000000011,2,PRF,3119392TK,1,Y,NaN,2006-02-13,2009-09-01,1
2,UPI0000000011,3,PRF,3121328BV,1,Y,NaN,2006-02-13,2009-09-01,2
3,UPI0000000011,4,PRF,3216358CT,1,Y,NaN,2007-01-01,2009-09-01,3
4,UPI0000000011,5,PRF,3216358FBB,1,Y,NaN,2007-01-01,2009-09-01,4
5,UPI0000000011,6,PRF,3315290CD,1,Y,NaN,2007-12-07,2009-09-01,5
6,UPI0000000011,7,EMBL,AAA48061,1,Y,1.0,2003-03-12,2017-05-26,6
7,UPI0000000011,8,EMBL,AAB96437,1,Y,1.0,2003-03-12,2017-05-26,7
8,UPI0000000011,9,EMBL,AAQ93171,1,Y,1.0,2006-05-04,2017-05-26,8
9,UPI0000000011,10,EMBL,AAR17917,1,Y,1.0,2006-05-04,2017-05-26,9

#### Databases

In [15]:
ds = spark.sql(f"""\
select distinct(db_type)
from parquet.`{DATABIN_PATH}/uniparc/v0.1.0/uniparc_xref.parquet`
""")

In [16]:
df = ds.toPandas()

In [17]:
df

                                  db_type
0                                  PATRIC
1                                     EPO
2                         EnsemblProtists
3                                     PRF
4                                   TROME
5                        UniProtKB/TrEMBL
6   UniProtKB/Swiss-Prot protein isoforms
7                              WBParaSite
8                                    TAIR
9                                 H-InvDB
10                                   VEGA
11                               EMBL_TSA
12                           EnsemblFungi
13                               WormBase
14                               EMBL_CON
15                                   EMBL
16                             VectorBase
17                                    PDB
18                                    JPO
19                   UniProtKB/Swiss-Prot
20                         EnsemblMetazoa
21                                EMBLWGS
22                                   KIPO
23                        EnsemblBacteria
24                                  USPTO
25                          EnsemblPlants
26                                 RefSeq
27                                   SEED
28                                FlyBase
29                                Ensembl
30                                    SGD

#### PDB head

In [18]:
ds = spark.sql(f"""\
select *
from parquet.`{DATABIN_PATH}/uniparc/v0.1.0/uniparc_xref.parquet`
where db_type = 'PDB'
limit 10
""")

In [19]:
df = ds.toPandas()

In [20]:
df

,uniparc_id,idx,db_type,db_id,version_i,active,version,created,last,__index_level_0__
0,UPI0000000066,2,PDB,3j7p,1,Y,None,2014-12-05,2017-09-15,101
1,UPI0000000066,3,PDB,3j7r,1,Y,None,2014-12-05,2017-09-15,102
2,UPI0000000066,4,PDB,4ug0,1,Y,None,2015-06-05,2017-09-15,103
3,UPI0000000066,5,PDB,4v6x,1,Y,None,2014-12-05,2017-09-15,104
4,UPI0000000066,6,PDB,5a2q,1,Y,None,2015-07-10,2017-09-15,105
5,UPI0000000066,7,PDB,5lks,1,Y,None,2017-04-21,2017-09-15,106
6,UPI0000000066,8,PDB,5lzs,1,Y,None,2016-11-25,2017-09-15,107
7,UPI0000000066,9,PDB,5lzt,1,Y,None,2016-11-25,2017-09-15,108
8,UPI0000000066,10,PDB,5lzu,1,Y,None,2016-11-25,2017-09-15,109
9,UPI0000000066,11,PDB,5lzv,1,Y,None,2016-11-25,2017-09-15,110

### `uniparc_domain.parquet`

#### Sample

In [21]:
ds = spark.sql(f"""\
select *
from parquet.`{DATABIN_PATH}/uniparc/v0.1.0/uniparc_domain.parquet`
limit 10
""")

In [22]:
df = ds.toPandas()

In [23]:
df

,uniparc_id,database,database_id,interpro_name,interpro_id,domain_start,domain_end,__index_level_0__
0,UPI0000000011,ProDom,PD012198,Poxvirus I5,IPR006803,11,75,0
1,UPI0000000011,Pfam,PF04713,Poxvirus I5,IPR006803,3,75,1
2,UPI0000000011,PIRSF,PIRSF003768,Poxvirus I5,IPR006803,1,79,2
3,UPI0000000066,Gene3D,G3DSA:3.10.290.10,RNA-binding S4 domain superfamily,IPR036986,35,120,3
4,UPI0000000066,Gene3D,G3DSA:3.10.290.10,RNA-binding S4 domain superfamily,IPR036986,137,185,4
5,UPI0000000066,HAMAP,MF_00485,Ribosomal protein S4e,IPR000876,7,238,5
6,UPI0000000066,ProDom,PD002667,"Ribosomal protein S4e, central region",IPR013845,87,181,6
7,UPI0000000066,Pfam,PF00467,KOW,IPR005824,178,211,7
8,UPI0000000066,Pfam,PF00900,"Ribosomal protein S4e, central region",IPR013845,95,169,8
9,UPI0000000066,Pfam,PF01479,RNA-binding S4 domain,IPR002942,44,90,9

#### Distinct databases

In [24]:
ds = spark.sql(f"""\
select distinct(database)
from parquet.`{DATABIN_PATH}/uniparc/v0.1.0/uniparc_domain.parquet`
""")

In [25]:
df = ds.toPandas()

In [26]:
df

    database
0     PRINTS
1    PROSITE
2    PANTHER
3     ProDom
4   TIGRFAMs
5     SUPFAM
6       SFLD
7     Gene3D
8      SMART
9       Pfam
10     PIRSF
11       CDD
12     HAMAP

### `chain.parquet`

In [29]:
ds = spark.sql(f"""\
select *
from parquet.`{DATABIN_PATH}/uniparc/v0.1.0/chain.parquet`
limit 100
""")

In [30]:
df = ds.toPandas()

In [31]:
df

       uniparc_id   name  idx   value  __index_level_0__
0   UPI0000000066  chain    1  3j7pSE                  0
1   UPI0000000066  chain    2  3j7rSE                  1
2   UPI0000000066  chain    3  4ug0SE                  2
3   UPI0000000066  chain    4  4v6xAE                  3
4   UPI0000000066  chain    5   5a2qE                  4
5   UPI0000000066  chain    6  5lksSE                  5
6   UPI0000000066  chain    7  5lzsEE                  6
7   UPI0000000066  chain    8  5lztEE                  7
8   UPI0000000066  chain    9  5lzuEE                  8
9   UPI0000000066  chain   10  5lzvEE                  9
10  UPI0000000066  chain   11  5lzwEE                 10
11  UPI0000000066  chain   12  5lzxEE                 11
12  UPI0000000066  chain   13  5lzyEE                 12
13  UPI0000000066  chain   14  5lzzEE                 13
14  UPI0000000066  chain   15   5oa3E                 14
15  UPI0000000066  chain   16  5t2cAr                 15
16  UPI0000000066  chain   17  5vycE1                 16
17  UPI0000000066  chain   18  5vycE2                 17
18  UPI0000000066  chain   19  5vycE3                 18
19  UPI0000000066  chain   20  5vycE4                 19
20  UPI0000000066  chain   21  5vycE5                 20
21  UPI0000000066  chain   22  5vycE6                 21
22  UPI000000060F  chain    1   1i4dD                 22
23  UPI000000060F  chain    2   1i4lD                 23
24  UPI000000076F  chain    1   3en1B                 24
25  UPI000000076F  chain    2   3eqqB                 25
26  UPI00000009E3  chain    1   3tvdA                 26
27  UPI00000009E3  chain    2   3tvdB                 27
28  UPI0000000C1B  chain    1   1oatA                 28
29  UPI0000000C1B  chain    2   1oatB                 29
..            ...    ...  ...     ...                ...
70  UPI0000020B41  chain    5   1ckkA                 70
71  UPI0000020B41  chain    6   1cllA                 71
72  UPI0000020B41  chain    7   1cm1A                 72
73  UPI0000020B41  chain    8   1cm4A                 73
74  UPI0000020B41  chain    9   1ctrA                 74
75  UPI0000020B41  chain   10   1g4yR                 75
76  UPI0000020B41  chain   11   1iwqA                 76
77  UPI0000020B41  chain   12   1k90D                 77
78  UPI0000020B41  chain   13   1k90E                 78
79  UPI0000020B41  chain   14   1k90F                 79
80  UPI0000020B41  chain   15   1l7zA                 80
81  UPI0000020B41  chain   16   1linA                 81
82  UPI0000020B41  chain   17   1muxA                 82
83  UPI0000020B41  chain   18   1niwA                 83
84  UPI0000020B41  chain   19   1niwC                 84
85  UPI0000020B41  chain   20   1niwE                 85
86  UPI0000020B41  chain   21   1niwG                 86
87  UPI0000020B41  chain   22   1nwdA                 87
88  UPI0000020B41  chain   23   1qivA                 88
89  UPI0000020B41  chain   24   1qiwA                 89
90  UPI0000020B41  chain   25   1qiwB                 90
91  UPI0000020B41  chain   26   1qx5B                 91
92  UPI0000020B41  chain   27   1qx5D                 92
93  UPI0000020B41  chain   28   1qx5I                 93
94  UPI0000020B41  chain   29   1qx5J                 94
95  UPI0000020B41  chain   30   1qx5K                 95
96  UPI0000020B41  chain   31   1qx5R                 96
97  UPI0000020B41  chain   32   1qx5T                 97
98  UPI0000020B41  chain   33   1qx5Y                 98
99  UPI0000020B41  chain   34   1qx7A                 99

[100 rows x 5 columns]

### `uniparc_xref2chain`

In [68]:
ds = spark.sql(f"""\
select 
    ux.uniparc_id, ux.db_id pdb_id,
    x2c.uniparc_xref_idx, x2c.property_idx, c.value pdb_id_with_chain
from parquet.`{DATABIN_PATH}/uniparc/v0.1.0/uniparc_xref.parquet` ux
join parquet.`{DATABIN_PATH}/uniparc/v0.1.0/uniparc_xref2chain.parquet` x2c ON (
    ux.uniparc_id = x2c.uniparc_id and ux.idx = x2c.uniparc_xref_idx)
join parquet.`{DATABIN_PATH}/uniparc/v0.1.0/chain.parquet` c ON (
    x2c.uniparc_id = c.uniparc_id and x2c.property_idx = c.idx)
where ux.db_type = "PDB"
    and ux.active = "Y"
limit 100
""")

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:34119)
Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 0))

Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:34119)

In [67]:
df = ds.toPandas()

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:34119)
Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:34119)
Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-67-d81406fbb00c>", line 1, in <module>
    df = ds.toPandas()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/dataframe.py", line 1937, in toPandas
    if self.sql_ctx.getConf("spark.sql.execution.pandas.respectSessionTimeZone").lower() \
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/context.py", line 142, in getConf
    return self.sparkSession.conf.get(key, defaultValue)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/conf.py", line 46, in get
    return self._jconf.get(key)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 1158, in __call__
    answer = self.gateway_client.send_command(command)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 906, in send_command
    connection = self._get_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 854, in _get_connection
    connection = self._create_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 860, in _create_connection
    connection.start()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 997, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:34119)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1828, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:34119)
Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-67-d81406fbb00c>", line 1, in <module>
    df = ds.toPandas()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/dataframe.py", line 1937, in toPandas
    if self.sql_ctx.getConf("spark.sql.execution.pandas.respectSessionTimeZone").lower() \
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/context.py", line 142, in getConf
    return self.sparkSession.conf.get(key, defaultValue)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/conf.py", line 46, in get
    return self._jconf.get(key)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 1158, in __call__
    answer = self.gateway_client.send_command(command)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 906, in send_command
    connection = self._get_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 854, in _get_connection
    connection = self._create_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 860, in _create_connection
    connection.start()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 997, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:34119)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1828, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:34119)
Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-67-d81406fbb00c>", line 1, in <module>
    df = ds.toPandas()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/dataframe.py", line 1937, in toPandas
    if self.sql_ctx.getConf("spark.sql.execution.pandas.respectSessionTimeZone").lower() \
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/context.py", line 142, in getConf
    return self.sparkSession.conf.get(key, defaultValue)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/conf.py", line 46, in get
    return self._jconf.get(key)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 1158, in __call__
    answer = self.gateway_client.send_command(command)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 906, in send_command
    connection = self._get_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 854, in _get_connection
    connection = self._create_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 860, in _create_connection
    connection.start()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 997, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:34119)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1828, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:34119)
Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-67-d81406fbb00c>", line 1, in <module>
    df = ds.toPandas()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/dataframe.py", line 1937, in toPandas
    if self.sql_ctx.getConf("spark.sql.execution.pandas.respectSessionTimeZone").lower() \
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/context.py", line 142, in getConf
    return self.sparkSession.conf.get(key, defaultValue)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/conf.py", line 46, in get
    return self._jconf.get(key)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 1158, in __call__
    answer = self.gateway_client.send_command(command)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 906, in send_command
    connection = self._get_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 854, in _get_connection
    connection = self._create_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 860, in _create_connection
    connection.start()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 997, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:34119)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1828, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:34119)
Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-67-d81406fbb00c>", line 1, in <module>
    df = ds.toPandas()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/dataframe.py", line 1937, in toPandas
    if self.sql_ctx.getConf("spark.sql.execution.pandas.respectSessionTimeZone").lower() \
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/context.py", line 142, in getConf
    return self.sparkSession.conf.get(key, defaultValue)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/conf.py", line 46, in get
    return self._jconf.get(key)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 1158, in __call__
    answer = self.gateway_client.send_command(command)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 906, in send_command
    connection = self._get_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 854, in _get_connection
    connection = self._create_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 860, in _create_connection
    connection.start()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 997, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:34119)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1828, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:34119)
Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-67-d81406fbb00c>", line 1, in <module>
    df = ds.toPandas()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/dataframe.py", line 1937, in toPandas
    if self.sql_ctx.getConf("spark.sql.execution.pandas.respectSessionTimeZone").lower() \
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/context.py", line 142, in getConf
    return self.sparkSession.conf.get(key, defaultValue)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/conf.py", line 46, in get
    return self._jconf.get(key)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 1158, in __call__
    answer = self.gateway_client.send_command(command)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 906, in send_command
    connection = self._get_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 854, in _get_connection
    connection = self._create_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 860, in _create_connection
    connection.start()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 997, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:34119)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1828, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:34119)
Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-67-d81406fbb00c>", line 1, in <module>
    df = ds.toPandas()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/dataframe.py", line 1937, in toPandas
    if self.sql_ctx.getConf("spark.sql.execution.pandas.respectSessionTimeZone").lower() \
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/context.py", line 142, in getConf
    return self.sparkSession.conf.get(key, defaultValue)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/conf.py", line 46, in get
    return self._jconf.get(key)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 1158, in __call__
    answer = self.gateway_client.send_command(command)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 906, in send_command
    connection = self._get_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 854, in _get_connection
    connection = self._create_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 860, in _create_connection
    connection.start()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 997, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:34119)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1828, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:34119)
Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-67-d81406fbb00c>", line 1, in <module>
    df = ds.toPandas()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/dataframe.py", line 1937, in toPandas
    if self.sql_ctx.getConf("spark.sql.execution.pandas.respectSessionTimeZone").lower() \
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/context.py", line 142, in getConf
    return self.sparkSession.conf.get(key, defaultValue)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/conf.py", line 46, in get
    return self._jconf.get(key)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 1158, in __call__
    answer = self.gateway_client.send_command(command)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 906, in send_command
    connection = self._get_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 854, in _get_connection
    connection = self._create_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 860, in _create_connection
    connection.start()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 997, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:34119)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1828, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:34119)
Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-67-d81406fbb00c>", line 1, in <module>
    df = ds.toPandas()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/dataframe.py", line 1937, in toPandas
    if self.sql_ctx.getConf("spark.sql.execution.pandas.respectSessionTimeZone").lower() \
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/context.py", line 142, in getConf
    return self.sparkSession.conf.get(key, defaultValue)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/conf.py", line 46, in get
    return self._jconf.get(key)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 1158, in __call__
    answer = self.gateway_client.send_command(command)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 906, in send_command
    connection = self._get_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 854, in _get_connection
    connection = self._create_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 860, in _create_connection
    connection.start()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 997, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:34119)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1828, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:34119)
Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-67-d81406fbb00c>", line 1, in <module>
    df = ds.toPandas()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/dataframe.py", line 1937, in toPandas
    if self.sql_ctx.getConf("spark.sql.execution.pandas.respectSessionTimeZone").lower() \
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/context.py", line 142, in getConf
    return self.sparkSession.conf.get(key, defaultValue)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/conf.py", line 46, in get
    return self._jconf.get(key)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 1158, in __call__
    answer = self.gateway_client.send_command(command)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 906, in send_command
    connection = self._get_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 854, in _get_connection
    connection = self._create_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 860, in _create_connection
    connection.start()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 997, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:34119)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1828, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:34119)
Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-67-d81406fbb00c>", line 1, in <module>
    df = ds.toPandas()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/dataframe.py", line 1937, in toPandas
    if self.sql_ctx.getConf("spark.sql.execution.pandas.respectSessionTimeZone").lower() \
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/context.py", line 142, in getConf
    return self.sparkSession.conf.get(key, defaultValue)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/conf.py", line 46, in get
    return self._jconf.get(key)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 1158, in __call__
    answer = self.gateway_client.send_command(command)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 906, in send_command
    connection = self._get_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 854, in _get_connection
    connection = self._create_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 860, in _create_connection
    connection.start()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 997, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:34119)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1828, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:34119)
Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-67-d81406fbb00c>", line 1, in <module>
    df = ds.toPandas()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/dataframe.py", line 1937, in toPandas
    if self.sql_ctx.getConf("spark.sql.execution.pandas.respectSessionTimeZone").lower() \
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/context.py", line 142, in getConf
    return self.sparkSession.conf.get(key, defaultValue)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/conf.py", line 46, in get
    return self._jconf.get(key)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 1158, in __call__
    answer = self.gateway_client.send_command(command)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 906, in send_command
    connection = self._get_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 854, in _get_connection
    connection = self._create_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 860, in _create_connection
    connection.start()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 997, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:34119)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1828, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:34119)
Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-67-d81406fbb00c>", line 1, in <module>
    df = ds.toPandas()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/dataframe.py", line 1937, in toPandas
    if self.sql_ctx.getConf("spark.sql.execution.pandas.respectSessionTimeZone").lower() \
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/context.py", line 142, in getConf
    return self.sparkSession.conf.get(key, defaultValue)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/conf.py", line 46, in get
    return self._jconf.get(key)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 1158, in __call__
    answer = self.gateway_client.send_command(command)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 906, in send_command
    connection = self._get_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 854, in _get_connection
    connection = self._create_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 860, in _create_connection
    connection.start()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 997, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:34119)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1828, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:34119)
Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-67-d81406fbb00c>", line 1, in <module>
    df = ds.toPandas()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/dataframe.py", line 1937, in toPandas
    if self.sql_ctx.getConf("spark.sql.execution.pandas.respectSessionTimeZone").lower() \
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/context.py", line 142, in getConf
    return self.sparkSession.conf.get(key, defaultValue)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/conf.py", line 46, in get
    return self._jconf.get(key)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 1158, in __call__
    answer = self.gateway_client.send_command(command)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 906, in send_command
    connection = self._get_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 854, in _get_connection
    connection = self._create_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 860, in _create_connection
    connection.start()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 997, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:34119)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1828, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:34119)
Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-67-d81406fbb00c>", line 1, in <module>
    df = ds.toPandas()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/dataframe.py", line 1937, in toPandas
    if self.sql_ctx.getConf("spark.sql.execution.pandas.respectSessionTimeZone").lower() \
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/context.py", line 142, in getConf
    return self.sparkSession.conf.get(key, defaultValue)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/conf.py", line 46, in get
    return self._jconf.get(key)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 1158, in __call__
    answer = self.gateway_client.send_command(command)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 906, in send_command
    connection = self._get_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 854, in _get_connection
    connection = self._create_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 860, in _create_connection
    connection.start()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 997, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:34119)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1828, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:34119)
Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-67-d81406fbb00c>", line 1, in <module>
    df = ds.toPandas()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/dataframe.py", line 1937, in toPandas
    if self.sql_ctx.getConf("spark.sql.execution.pandas.respectSessionTimeZone").lower() \
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/context.py", line 142, in getConf
    return self.sparkSession.conf.get(key, defaultValue)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/conf.py", line 46, in get
    return self._jconf.get(key)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 1158, in __call__
    answer = self.gateway_client.send_command(command)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 906, in send_command
    connection = self._get_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 854, in _get_connection
    connection = self._create_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 860, in _create_connection
    connection.start()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 997, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:34119)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1828, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:34119)
Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-67-d81406fbb00c>", line 1, in <module>
    df = ds.toPandas()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/dataframe.py", line 1937, in toPandas
    if self.sql_ctx.getConf("spark.sql.execution.pandas.respectSessionTimeZone").lower() \
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/context.py", line 142, in getConf
    return self.sparkSession.conf.get(key, defaultValue)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/conf.py", line 46, in get
    return self._jconf.get(key)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 1158, in __call__
    answer = self.gateway_client.send_command(command)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 906, in send_command
    connection = self._get_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 854, in _get_connection
    connection = self._create_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 860, in _create_connection
    connection.start()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 997, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:34119)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1828, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused
ERROR:py4j.java_gateway:An error occurred while trying to connect to the Java server (127.0.0.1:34119)
Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2910, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-67-d81406fbb00c>", line 1, in <module>
    df = ds.toPandas()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/dataframe.py", line 1937, in toPandas
    if self.sql_ctx.getConf("spark.sql.execution.pandas.respectSessionTimeZone").lower() \
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/context.py", line 142, in getConf
    return self.sparkSession.conf.get(key, defaultValue)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/pyspark/sql/conf.py", line 46, in get
    return self._jconf.get(key)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 1158, in __call__
    answer = self.gateway_client.send_command(command)
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 906, in send_command
    connection = self._get_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 854, in _get_connection
    connection = self._create_connection()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 860, in _create_connection
    connection.start()
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 997, in start
    raise Py4JNetworkError(msg, e)
py4j.protocol.Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:34119)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 1828, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'Py4JNetworkError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 852, in _get_connection
    connection = self.deque.pop()
IndexError: pop from an empty deque

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/kimlab1/strokach/anaconda3/lib/python3.6/site-packages/py4j/java_gateway.py", line 990, in start
    self.socket.connect((self.address, self.port))
ConnectionRefusedError: [Errno 111] Connection refused

Py4JNetworkError: An error occurred while trying to connect to the Java server (127.0.0.1:34119)

In [63]:
df

       uniparc_id pdb_id  uniparc_xref_idx  property_idx   value
0   UPI0000000066   3j7p                 2             1  3j7pSE
1   UPI0000000066   3j7r                 3             2  3j7rSE
2   UPI0000000066   4ug0                 4             3  4ug0SE
3   UPI0000000066   4v6x                 5             4  4v6xAE
4   UPI0000000066   5a2q                 6             5   5a2qE
5   UPI0000000066   5lks                 7             6  5lksSE
6   UPI0000000066   5lzs                 8             7  5lzsEE
7   UPI0000000066   5lzt                 9             8  5lztEE
8   UPI0000000066   5lzu                10             9  5lzuEE
9   UPI0000000066   5lzv                11            10  5lzvEE
10  UPI0000000066   5lzw                12            11  5lzwEE
11  UPI0000000066   5lzx                13            12  5lzxEE
12  UPI0000000066   5lzy                14            13  5lzyEE
13  UPI0000000066   5lzz                15            14  5lzzEE
14  UPI0000000066   5oa3                16            15   5oa3E
15  UPI0000000066   5t2c                17            16  5t2cAr
16  UPI0000000066   5vyc                18            17  5vycE1
17  UPI0000000066   5vyc                19            18  5vycE2
18  UPI0000000066   5vyc                20            19  5vycE3
19  UPI0000000066   5vyc                21            20  5vycE4
20  UPI0000000066   5vyc                22            21  5vycE5
21  UPI0000000066   5vyc                23            22  5vycE6
22  UPI000000060F   1i4d                 4             1   1i4dD
23  UPI000000060F   1i4l                 5             2   1i4lD
24  UPI000000076F   3en1                 3             1   3en1B
25  UPI000000076F   3eqq                 4             2   3eqqB
26  UPI00000009E3   3tvd                 1             1   3tvdA
27  UPI00000009E3   3tvd                 2             2   3tvdB
28  UPI0000000C1B   1oat                 5             1   1oatA
29  UPI0000000C1B   1oat                 6             2   1oatB
..            ...    ...               ...           ...     ...
70  UPI0000020B41   1ckk                 8             5   1ckkA
71  UPI0000020B41   1cll                 9             6   1cllA
72  UPI0000020B41   1cm1                10             7   1cm1A
73  UPI0000020B41   1cm4                11             8   1cm4A
74  UPI0000020B41   1ctr                12             9   1ctrA
75  UPI0000020B41   1g4y                13            10   1g4yR
76  UPI0000020B41   1iwq                14            11   1iwqA
77  UPI0000020B41   1k90                15            12   1k90D
78  UPI0000020B41   1k90                16            13   1k90E
79  UPI0000020B41   1k90                17            14   1k90F
80  UPI0000020B41   1l7z                18            15   1l7zA
81  UPI0000020B41   1lin                19            16   1linA
82  UPI0000020B41   1mux                20            17   1muxA
83  UPI0000020B41   1niw                21            18   1niwA
84  UPI0000020B41   1niw                22            19   1niwC
85  UPI0000020B41   1niw                23            20   1niwE
86  UPI0000020B41   1niw                24            21   1niwG
87  UPI0000020B41   1nwd                25            22   1nwdA
88  UPI0000020B41   1qiv                26            23   1qivA
89  UPI0000020B41   1qiw                27            24   1qiwA
90  UPI0000020B41   1qiw                28            25   1qiwB
91  UPI0000020B41   1qx5                29            26   1qx5B
92  UPI0000020B41   1qx5                30            27   1qx5D
93  UPI0000020B41   1qx5                31            28   1qx5I
94  UPI0000020B41   1qx5                32            29   1qx5J
95  UPI0000020B41   1qx5                33            30   1qx5K
96  UPI0000020B41   1qx5                34            31   1qx5R
97  UPI0000020B41   1qx5                35            32   1qx5T
98  UPI0000020B41   1qx5                36            33   1qx5Y
99  UPI0000020B41   1qx7                37            34   1qx7A

[100 rows x 5 columns]

## `uniparc_domain`

In [11]:
!ls {DATABIN_PATH}/uniparc_domain/0.1/

adjacency_matrix.parquet

### `adjacency_matrix.parquet`

In [12]:
ds = spark.sql(f"""\
select *
from parquet.`{DATABIN_PATH}/uniparc_domain/0.1/adjacency_matrix.parquet`
limit 10
""")

In [11]:
df = ds.toPandas()

NameError: name 'ds' is not defined

In [ ]:
df.head(2)

In [ ]:
ds = spark.sql(f"""\
select *
from parquet.`{DATABIN_PATH}/uniparc_domain/0.1/adjacency_matrix.parquet`
limit 10
""")

In [ ]:
df = ds.toPandas()

In [ ]:
df.head(2)

## Combine

In [ ]:
uniparc_domains_with_structures_ds = spark.sql(f"""\
    select
    ux.uniparc_id, ux.id pdb_id,
    am.domain_start, am.domain_end, am.domain_length, am.structure_id, am.model_id, am.chain_id, am.pc_identity,
    am.__index_level_0__
    from parquet.`{DATABIN_PATH}/uniparc/v0.1.0/uniparc_xref.parquet` ux
    join parquet.`{DATABIN_PATH}/uniparc/v0.1.0/uniparc_domain.parquet` ud
    join parquet.`{DATABIN_PATH}/uniparc_domain/0.1/adjacency_matrix.parquet` am
    where ux.db_type = "PDB"
    and ux.active = "Y"
""")